{% extends "base.html" %}
{% load static %}


{% block body %}
<div class="wrapper">
            <header class="header-top" header-theme="light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="top-menu d-flex align-items-center">
                            <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                            <button type="button" id="navbar-fullscreen" class="nav-link"><i class="ik ik-maximize"></i></button>
                        </div>
                        <button type="button" class="btn btn-dark"><i class="ik ik-arrow-left"></i></button>
                        <h3>{{ MonthShow }} de {{ YearShow }}</h3>
                        <button type="button" class="btn btn-dark"><i class="ik ik-arrow-right"></i></button>
                        <div class="top-menu d-flex align-items-center">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-bell"></i><span class="badge bg-danger"></span></a>
                                <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notiDropdown">
                                    <h4 class="header">Notifications</h4>
                                    <div class="notifications-wrap">
                                        <!--<a href="#" class="media">
                                            <span class="d-flex">
                                                <i class="ik ik-check"></i> 
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Invitation accepted</span> 
                                                <span class="media-content">Your have been Invited ...</span>
                                            </span>
                                        </a>-->
                                    </div>
                                    <div class="footer"><a href="javascript:void(0);">See all activity</a></div>
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10 right-sidebar-toggle"><i class="ik ik-message-square"></i><span class="badge bg-success">3</span></button>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-plus"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu-grid" aria-labelledby="menuDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Dashboard"><i class="ik ik-bar-chart-2"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Message"><i class="ik ik-mail"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Accounts"><i class="ik ik-users"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Sales"><i class="ik ik-shopping-cart"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Purchase"><i class="ik ik-briefcase"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Pages"><i class="ik ik-clipboard"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Chats"><i class="ik ik-message-square"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Contacts"><i class="ik ik-map-pin"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Blocks"><i class="ik ik-inbox"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Events"><i class="ik ik-calendar"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Notifications"><i class="ik ik-bell"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="More"><i class="ik ik-more-horizontal"></i></a>
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal" data-target="#appsModal"><i class="ik ik-grid"></i></button>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="{% static 'Do_dogs_have_money_Website/img/user.jpg' %}" alt=""></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="profile.html"><i class="ik ik-user dropdown-icon"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-settings dropdown-icon"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="ik ik-mail dropdown-icon"></i> Inbox</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-navigation dropdown-icon"></i> Message</a>
                                    <a class="dropdown-item" href="login.html"><i class="ik ik-power dropdown-icon"></i> Logout</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <div class="page-wrap">
                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="index.html">
                            <div class="logo-img">
                               <img src="{% static 'Do_dogs_have_money_Website/src/img/brand-white.svg' %}" class="header-brand-img" alt="lavalite"> 
                            </div>
                            <span class="text">DDHM</span>
                        </a>
                        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>
                    
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-item">
                                    <a href="#" onclick="OpenTransaction()"><i class="ik ik-plus-square"></i><span>Nova Transação</span></a>
                                </div>
                            <div class="nav-lavel">Contas</div>
                                    {% for Account in Accounts%}
                                        <div class="nav-item">
                                            <a href="#">
                                                <span>
                                                    <div class="container-fluid"> 
                                                        <div class="row clearfix">
                                                        <div class="col-md-6 text-left" >{{ Account.Name }}</div>
                                                        <div class="col-md-6 text-right" {% if Account.BalanceSigned == "-" %} style="color:red" {% endif %}>{{ Account.BalanceSigned }}R${{ Account.Balance }}</div>
                                                    </div>
                                                </div>
                                            </span>
                                        </a>
                                    </div>
                                    {% endfor %}
                                <div class="nav-lavel">Navegação</div>
                                <div class="nav-item">
                                    <a href="index.html"><i class="ik ik-bar-chart-2"></i><span>Visão Geral</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/navbar.html"><i class="ik ik-menu"></i><span>Transações</span></a>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-chevrons-up"></i><span>Investimentos</span></a>
                                    <div class="submenu-content" style="">
                                        <a href="javascript:void(0)" class="menu-item">Adcionar Investimento</a>
                                        <a href="javascript:void(0)" class="menu-item">Gerenciar Investimentos</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-chevrons-down"></i><span>Passivos</span></a>
                                    <div class="submenu-content" style="">
                                        <a href="javascript:void(0)" class="menu-item">Adcionar Passivo</a>
                                        <a href="javascript:void(0)" class="menu-item">Gerenciar Passivos</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-settings"></i><span>Configuração</span></a>
                                    <div class="submenu-content" style="">
                                        <div class="nav-item has-sub">
                                            <a href="javascript:void(0)" class="menu-item">Contas</a>
                                            <div class="submenu-content" style="">
                                                <a href="javascript:void(0)" class="menu-item">Adcionar Contas</a>
                                                <a href="javascript:void(0)" class="menu-item">Editar Contas</a>
                                            </div>
                                        </div>
                                        <div class="nav-item has-sub">
                                            <a href="javascript:void(1)" class="menu-item">Categorias</a>
                                            <div class="submenu-content" style="">
                                                <a href="javascript:void(0)" class="menu-item">Adcionar Categorias</a>
                                                <a href="javascript:void(0)" class="menu-item">Editar Categorias</a>
                                            </div>
                                        </div>
                                            <a href="javascript:void(1)" class="menu-item">Configurações</a>
                                    </div>
                                </div>
                                </nav>
                            </div>
                        </div>
                    </div>    
            
            <div class="main-content">
                <div class="container-fluid">
                    <div id="newtransaction" style="display: none;">
                                    <div class="card-body">
                                        <div class="modal-dialog modal-lg mt-0 mb-0" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Nova Transação</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeTransaction()">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="forms-sample" method="post" action="#">{% csrf_token %}
                                            <div class="container-fluid"> 
                                                <div class="row">
                                                     <div class="col-md-6"> 
                                                        <div class="form-radio">
                                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" checked="checked" value="Expense" onchange="formExpense()">
                                                                    <i class="helper"></i>Despesa
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-matrial radio-success radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" value="Receives" onchange="formReceive()">
                                                                    <i class="helper"></i>Receita
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-matrial radio-primary radio-inline" onchange="formTransfer()">
                                                                <label>
                                                                    <input type="radio" name="radio" value="Transfer">
                                                                    <i class="helper"></i>Transferencia
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="checkbox-color checkbox-danger">
                                                            <input id="checkbox1" type="checkbox" onchange="RepeatChange()">
                                                            <label for="checkbox1">Repetição</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="checkbox-color checkbox-success">
                                                            <input id="checkbox3" type="checkbox" onchange="">
                                                            <label for="checkbox3">Consolidada</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="Formclass">
                                                    <div id="ExpenseForm">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="TransactionValue">Valor</label>
                                                                    <input type="number" step="0.01" class="form-control" id="InputValue" placeholder="0.00" name="Value" onchange="Valuesigned()" style="border: 1px solid gray;">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="date">Data</label>
                                                                    <input type="text" class="form-control datetimepicker" name="Date" id="datepicker" data-toggle="datetimepicker" onchange="Datebug()" onblur="Datebug2()" data-target="#datepicker" style="border: 1px solid gray;">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="Accounts">Contas</label>
                                                                    <select class="form-control" id="InputAccount" name="Account" style="border: 1px solid gray;"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleSelectGender">Categorias</label>
                                                                    <select class="form-control" id="InputCategorys" onchange="SubCategory()" style="border: 1px solid gray;" name="Categorys">
                                                                        <option selected> - </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleSelectGender">SubCategorias</label>
                                                                    <select class="form-control" id="InputsubCategorys" style="border: 1px solid gray;" name="SubCategorys"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="ObservationArea">Informações Adcionais</label>
                                                                    <textarea class="form-control" id="InputObservation" rows="5" style="border: 1px solid gray;" name="Observation"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="TransferForm" style="display: none;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="TransactionValue">Valor</label>
                                                                <input type="number" step="0.01" class="form-control" id="InputValue" placeholder="0.00" name="Value" style="border: 1px solid gray;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="date">Data</label>
                                                                <input type="text" class="form-control datetimepicker" name="Date" id="datepicker" data-toggle="datetimepicker" onchange="Datebug()" onblur="Datebug2()" data-target="#datepicker" style="border: 1px solid gray;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="exampleSelectGender">Conta de Origem</label>
                                                                <select class="form-control" id="Account1" style="border: 1px solid gray;" name="Account2"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="exampleSelectGender">Conta de Destino</label>
                                                                <select class="form-control" id="Account2" style="border: 1px solid gray;" name="Account2"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="ObservationArea">Informações Adcionais</label>
                                                                <textarea class="form-control" id="InputObservation" rows="5" style="border: 1px solid gray;" name="Observation"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="RecipesForm" style="display: none">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="TransactionValue">Valor</label>
                                                                <input type="number" step="0.01" class="form-control" id="InputValue" placeholder="0.00" name="Value" style="border: 1px solid gray;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="date">Data</label>
                                                                <input type="text" class="form-control datetimepicker" name="Date" id="datepicker" data-toggle="datetimepicker" onchange="Datebug()" onblur="Datebug2()" data-target="#datepicker" style="border: 1px solid gray;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Accounts">Contas</label>
                                                                <select class="form-control" id="InputAccount" name="Account" style="border: 1px solid gray;"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="exampleSelectGender">Categorias</label>
                                                                <select class="form-control" id="InputCategorys" onchange="SubCategory()" style="border: 1px solid gray;" name="Categorys">
                                                                    <option selected> - </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="exampleSelectGender">SubCategorias</label>
                                                                <select class="form-control" id="InputsubCategorys" style="border: 1px solid gray;" name="SubCategorys"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="ObservationArea">Informações Adcionais</label>
                                                                <textarea class="form-control" id="InputObservation" rows="5" style="border: 1px solid gray;" name="Observation"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: none;" id="Repeatform">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="TransactionValue">Parcelas:</label>
                                                            <input type="number" class="form-control"  name="InitiParcel" style="border: 1px solid gray;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="TransactionValue">de:</label>
                                                            <input type="number" class="form-control" name="FinishParcel" style="border: 1px solid gray;">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="TransactionValue">A Cada:</label>
                                                            <input type="number" min="1" class="form-control" name="RepeatedParcel" placeholder="1" style="border: 1px solid gray;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="TransactionValue">Periodo</label>
                                                            <select class="form-control" name="PeriodoParcel" onchange="SubCategory()" style="border: 1px solid gray;">
                                                                <option selected>Mês</option>
                                                                <option>Semana</option>
                                                                <option>Dia</option>
                                                                <option>Ano</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-2">
                                                        <div class="checkbox-color checkbox-warning">
                                                            <input id="checkbox2" type="checkbox" name="ParcelIndef" id="IndeParcel onchange="">
                                                            <label for="checkbox2">Indefinidamente</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-secondary">Salvar</button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeTransaction()">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                    <div class="row clearfix" id="mainbodys">  
                        <div class="col-xl-3 col-md-6">
                            <div class="card prod-p-card card-red">
                                <div class="card-body" style="background-color:{% if GeneralInformation.BalanceSigned != '-' %}#26C281{% endif %}">
                                    <div class="row align-items-center mb-30">
                                        <div class="col">
                                            <h6 class="mb-5 text-white">Saldo</h6>
                                            <h3 class="mb-0 fw-700 text-white">{{ GeneralInformation.BalanceSigned }}R${{ GeneralInformation.Balance }}</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-money-bill-alt text-{% if GeneralInformation.BalanceSigned != '-' %}green {% else %}red{% endif %} f-18"></i>
                                        </div>
                                    </div>
                                        <p class="mb-0 text-white"><span class="label label-danger mr-10">{{ GeneralInformation.BalancePercenteInformation }}%</span>{{ GeneralInformation.BalanceInformation }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card prod-p-card card-red">
                                <div class="card-body" style="background-color:{% if GeneralInformation.ExpensesSignedPercenteInformation == '-' %}#26C281{% endif %}">
                                    <div class="row align-items-center mb-30">
                                        <div class="col">
                                            <h6 class="mb-5 text-white">Saidas</h6>
                                            <h3 class="mb-0 fw-700 text-white">-R${{ GeneralInformation.Expenses }}</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-money-check-alt text-{% if GeneralInformation.ExpensesSignedPercenteInformation == '-' %}green {% else %}red{% endif %} f-18"></i>
                                        </div>
                                    </div>
                                        <p class="mb-0 text-white"><span class="label label-danger mr-10">{{ GeneralInformation.ExpensesSignedPercenteInformation }}{{ GeneralInformation.ExpensesPercenteInformation }}%</span>{{ GeneralInformation.ExpensesInformation }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card prod-p-card card-red">
                                <div class="card-body" style="background-color:{% if GeneralInformation.DeltaActiveLiabilities == 1 %}#26C281{% endif %}">
                                    <div class="row align-items-center mb-30">
                                        <div class="col">
                                            <h6 class="mb-5 text-white">Ativos</h6>
                                            <h3 class="mb-0 fw-700 text-white">R${{ GeneralInformation.Active }}</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-angle-double-up text-{% if GeneralInformation.DeltaActiveLiabilities == 1 %}green {% else %}red{% endif %} f-18"></i>
                                        </div>
                                    </div>
                                        <p class="mb-0 text-white"><span class="label label-danger mr-10">{{ GeneralInformation.ActiveSignedPercenteInformation }}{{ GeneralInformation.ActivePercenteInformation }}%</span>{{ GeneralInformation.ActiveInformation }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card prod-p-card card-red">
                                <div class="card-body" style="background-color:{% if GeneralInformation.DeltaActiveLiabilities == 1 %}#26C281{% endif %}">
                                    <div class="row align-items-center mb-30">
                                        <div class="col">
                                            <h6 class="mb-5 text-white">Passivos</h6>
                                            <h3 class="mb-0 fw-700 text-white">-R${{ GeneralInformation.Liabilities }}</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-angle-double-down text-{% if GeneralInformation.DeltaActiveLiabilities == 1 %}green {% else %}red{% endif %} f-18"></i>
                                        </div>
                                    </div>
                                        <p class="mb-0 text-white"><span class="label label-danger mr-10">{{ GeneralInformation.LiabilitiesSignedPercenteInformation }}{{ GeneralInformation.LiabilitiesPercenteInformation }}%</span>{{ GeneralInformation.LiabilitiesInformation }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datedropper/datedropper.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/screenfull/dist/screenfull.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/jvectormap/jquery-jvectormap.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/d3/dist/d3.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/c3/c3.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/js/tables.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/js/widgets.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/js/charts.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/dist/js/theme.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/js/index.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/datedropper/datedropper.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/js/form-picker.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
        <script src="{% static 'Do_dogs_have_money_Website/plugins/jquery-minicolors/jquery.minicolors.min.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <script>
            var Categorys = {{ cat|safe }}
        </script>
{% endblock %}


